{{> message}}

<div class="p-5 mb-4 bg-white rounded-3 shadow-sm">
    <div class="container-fluid py-5">
        <h1 class="display-4 fw-bold">Find Your Perfect Skis</h1>
        <p class="col-md-8 fs-4">The #1 marketplace for second-hand skis. Browse listings from sellers, find your brand, and hit the slopes.</p>
        <a href="/search" class="btn btn-primary btn-lg" type="button">
          Start Searching &rarr;
        </a>
    </div>
</div>